.barchart__bar {
	fill: steelblue;
}

.barchart__axis text {
	font: 10px sans-serif;
}

.barchart__axis path,
.barchart__axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.barchart__axis--x path {
	display: none;
}